.DS_Store
**/__pycache__/

# Ignore all zip files inside HPatch-Baseline
*.zip

# Ignore specific directories inside HPatch-Baseline
hpatches-release/
hpatches-sequences-release/

#Scannet
Table_2/ScanNet1500
Table_2/ALIKE_Baseline/third_party/ALIKE